node_modules
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/server/venv/
/server/.env
/server/external_data.db
/server/llama_cpp_python-0.2.24-cp311-cp311-win_amd64.whl
/server/llama-2-7b-chat.Q4_K_M.gguf
/server/my_docs.pkl
/server/documents/*
/server/edit_db.py